:root {
    --azul-primario: #0066cc;
    --azul-secundario: #4da6ff;
    --azul-secundario2: #3d9eff;
    --azul-secundario3: #82c0ff;
    --azul-claro: #e6f2ff;
    --blanco2: #ffffff;
    --gris-claro: #f5f5f5;
    --gris-medio: #e0e0e0;
    --gris-oscuro: #757575;

    --azul: #007bbd;
    --blanco: rgb(253, 243, 229);
    --gris: rgb(99, 95, 95);
    --azulClaro: #4aa2d1;
    --fondo: #e6f0fa;
}
/* boton -------------------- boton*/
#btn1Profesor{
    padding: 0 0;
}
#rbtnProfesor{
    margin: 0;
    width: 100%;
}
.btn-group{
    width: 100%;
    padding: 0;
    background: #007bbd;
    border-radius: 0;
    border: 1px solid var(--azulClaro);
}
#abtn{
    color: white;
    border: 1px solid var(--azulClaro);
}
.dropdown-menu{
    width: 100%;
    background: var(--azul);
}
.dropdown-menu a{
    border-bottom: 1px solid var(--azulClaro);
    padding: 10px;
    display: flex;
    justify-content: center;
}
.dropdown-menu i{
    color: white;
    display: flex;
    flex-direction: row;
}
.dropdown-menu p{
    margin: auto 10px;
}
.dropdown-menu li:hover{
    background: var(--azulClaro);
    cursor: pointer;
}