*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}
:root {
    --azul-primario: #0066cc;
    --azul-secundario: #4da6ff;
    --azul-secundario2: #3d9eff;
    --azul-secundario3: #82c0ff;
    --azul-claro: #e6f2ff;
    --blanco2: #ffffff;
    --gris-claro: #f5f5f5;
    --gris-medio: #e0e0e0;
    --gris-oscuro: #757575;

    --azul: #007bbd;
    --blanco: rgb(253, 243, 229);
    --gris: rgb(99, 95, 95);
    --azulClaro: #4aa2d1;
    --fondo: #e6f0fa;
}
.contenedor{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--fondo);
    margin: 0;
    padding: 0;
    width: 100%;
}

/* centro -------------------- centro*/

/* article -------------------- article */

#centro1{
    flex: 1;
    display: flex;
    padding: 0;
}
#contenido {
    display: flex;
    width: 100%;
    margin: 0;
}

/* tabla -------------------- tabla*/
#contenidoTabla{
    flex: 1;
    padding: 20px;
}
.carda{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: var(--fondo);
    border: none;
}
.carda a{
    margin: 10px 15px;
    width: 100%;
    height: 120px;
    text-decoration: none;
}
.carda a .targeta{
    border-top: 1px solid var(--azul);
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1) ;
    color: var(--azul);
}
.carda a .targeta:hover{
    background: #d1d1d1;
    border-top: 2px solid black;
    color: var(--azul-primario);
    cursor: pointer;
}
.carda a .targeta i{
    margin: 10px;
    font-size: 25px;
}
.carda a .targeta h1{
    margin: 10px;
    font-size: 25px;
}

.titulo5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}
.titulo5 h1{
    font-size: 30px;
    color: var(--azul-primario);
    font-weight: bold;
}

.modificarCurso{
    height: auto;
    background-color: white;
    padding: 20px 20px;
    margin-bottom: 30px;
    border-radius: 20px;
    text-align: center;
}
.modificarCurso h1{
    font-size: 25px;
    margin-bottom: 20px;
}
.modificarCurso input{
    border: 1px solid var(--azul-primario);
    border-radius: 20px;
    padding: 5px 20px;
    margin-right: 20px;
    background: white;
    color: black;
}
.modificarCurso select{
    background: white;
    color: black;
}
.btn-cancelar1{
    margin-left: 20px;
}
#editarGrado, #editarJornada{
    border: 1px solid var(--azul-primario);
    border-radius: 20px;
    padding: 5px 20px;
    margin-right: 20px;
}
.contenedor-tabla{  
    overflow-x: auto;
    margin: 0px 0px 20px 0px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); 
    width: 100%; 
}
table{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0px;
}
thead{
    background-color: var(--azul-primario);
    color: var(--blanco);
}
#tablaUsuarios th, td{
    padding: 10px;
    text-align: center !important;
    border-bottom: 1px solid var(--azul-primario) !important;
}

button{
    background-color: var(--azul);
    color: var(--blanco);
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: black;
}
@media (min-width: 100px) and (max-width: 414px) {

    .carda a .targeta i{
        margin: 10px;
        font-size: 15px;
        
    }
    .carda a .targeta h1{
        margin: 10px;
        font-size: 10px;
    }

    /* centro -------------------- centro */
    .carda a{
        height: 80px;
    }

    .titulo5{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .titulo5 h1{
        font-size: 25px;
        margin-bottom: 20px;
    }
    .titulo5 a button{
        width: 120px;
        margin-bottom: 10px;
    }
    #modificarCurso form{
        display: flex;
        flex-direction: column;
    }
    .modificarCurso input{
        width: 80%;
        margin: 0px auto;
    }
    #editarGrado, #editarJornada{
        width: 80%;
        margin: 10px auto;
    }
    .btn-guardar1, .btn-cancelar1{
        width: 80%;
        margin: 10px auto;
    }
}

@media (min-width: 415px) and (max-width: 575px) {

    .carda a .targeta i{
        margin: 10px;
        font-size: 15px;
        
    }
    .carda a .targeta h1{
        margin: 10px;
        font-size: 10px;
    }

    /* centro -------------------- centro */
    .carda a{
        height: 80px;
    }

    .titulo5{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .titulo5 h1{
        font-size: 25px;
        margin-bottom: 20px;
    }
    .titulo5 a button{
        width: 120px;
        margin-bottom: 10px;
    }

    #modificarCurso form{
        display: flex;
        flex-direction: column;
    }
    .modificarCurso input{
        width: 80%;
        margin: 0px auto;
    }
    #editarGrado, #editarJornada{
        width: 80%;
        margin: 10px auto;
    }
    .btn-guardar1, .btn-cancelar1{
        width: 80%;
        margin: 10px auto;
    }
}

@media (min-width: 576px) and (max-width: 767px){
    
    .titulo5{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .titulo5 h1{
        font-size: 25px;
        margin-bottom: 20px;
    }
    .titulo5 a button{
        width: 120px;
        margin-bottom: 10px;
    }
    #modificarCurso form{
        display: flex;
        flex-direction: column;
    }
    .modificarCurso input{
        width: 80%;
        margin: 0px auto;
    }
    #editarGrado, #editarJornada{
        width: 80%;
        margin: 10px auto;
    }
    .btn-guardar1, .btn-cancelar1{
        width: 80%;
        margin: 10px auto;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    
    #modificarCurso form{
        display: flex;
        flex-direction: column;
    }
    .modificarCurso input{
        width: 50%;
        margin: 0px auto;
    }
    #editarGrado, #editarJornada{
        width: 50%;
        margin: 10px auto;
    }
    .btn-guardar1, .btn-cancelar1{
        width: 50%;
        margin: 10px auto;
    }
}

