:root {
    --azul-primario: #0066cc;
    --azul-secundario: #4da6ff;
    --azul-secundario2: #3d9eff;
    --azul-secundario3: #82c0ff;
    --azul-claro: #e6f2ff;
    --blanco2: #ffffff;
    --gris-claro: #f5f5f5;
    --gris-medio: #e0e0e0;
    --gris-oscuro: #757575;

    --azul: #007bbd;
    --blanco: rgb(253, 243, 229);
    --gris: rgb(99, 95, 95);
    --azulClaro: #4aa2d1;
    --fondo: #e6f0fa;
}
#navegadorAlumno{
    display: flex;
    justify-content: end;
    width: 100%;
    height: 60px;
    margin: 20px 0px;
    background: linear-gradient(135deg, var(--azul-secundario2), var(--azul-secundario3));
}
#navegadorAlumno .col-xl-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
#navegadorAlumno .col-xl-1 a{
    width: 100%;
    height: 100%;
}
#navegadorAlumno .col-xl-1 a button{
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 18px;
    color: white;
}
#navegadorAlumno .col-xl-1 a button:hover{
    cursor: pointer;
    transform: scale(1.1);
    background: var(--azul-secundario2);
}
#navegadorAlumno .col-xl-1 button{
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 18px;
    color: white;
}
#navegadorAlumno .col-xl-1 button:hover{
    cursor: pointer;
    transform: scale(1.1);
    background: var(--azul-secundario2);
}