*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}
:root {
    --azul-primario: #0066cc;
    --azul-secundario: #4da6ff;
    --azul-secundario2: #3d9eff;
    --azul-secundario3: #82c0ff;
    --azul-claro: #e6f2ff;
    --blanco2: #ffffff;
    --gris-claro: #f5f5f5;
    --gris-medio: #e0e0e0;
    --gris-oscuro: #757575;

    --azul: #007bbd;
    --blanco: rgb(253, 243, 229);
    --gris: rgb(99, 95, 95);
    --azulClaro: #4aa2d1;
    --fondo: #e6f0fa;
}
.contenedor{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--fondo);
    margin: 0;
    padding: 0;
    width: 100%;
}

/* centro -------------------- centro*/

/* article -------------------- article */

#centroAlumno{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0;
}

/* Centro -------------------- Centro*/

.contenedor-noticiaAlumno{
    margin: 30px auto;
    width: 70%;
    height: auto;
    background: var(--azul-primario);
    text-align: center;
    padding: 40px;
}
.contenedor-noticiaAlumno h2{
    font-size: 60px;
    color: white;
    font-weight: bold;
}
.contenedor-noticiaAlumno .noticiaAlumno{
    margin: 40px auto;
    width: 100%;
    height: 300px;
    background: var(--blanco2);
    border-radius: 20px;
    padding: 15px 30px;
}
.contenedor-noticiaAlumno .noticiaAlumno .row{
    min-height: 225px;
    background: var(--blanco2) !important;
}

.contenedor-noticiaAlumno .noticiaAlumno .row .col-xl-4{
    padding: 0px 0px;
}
.contenedor-noticiaAlumno .noticiaAlumno .row .col-xl-4 img{
    width: 100%;
    height: 225px; 
    overflow: hidden;
    position: relative;
}
.contenedor-noticiaAlumno .noticiaAlumno .row .col-xl-6{
    padding: 10px 40px;
    text-align: justify;
}
.contenedor-noticiaAlumno .noticiaAlumno .row .col-xl-6 h2{
    font-size: 30px;
    color: var(--azul);
}
.contenedor-noticiaAlumno .noticiaAlumno .row .col-xl-6 p{
    font-size: 17px;
    word-break: break-word; 
    white-space: normal;
}

.contenedor-noticiaAlumno .noticiaAlumno .row .col-xl-2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-noticiaAlumno .noticiaAlumno .row .col-xl-2 button{
    background: var(--azul-secundario2);
    border: 4px solid var(--azul-primario);
    width: 120px;
    height: 50px;
    border-radius: 20px;
    color: white;
}
.contenedor-noticiaAlumno .noticiaAlumno .row .col-xl-2 button:hover{
    transform: scale(1.1);
    cursor: pointer;
}
@media (min-width: 100px) and (max-width: 414px) {
    .contenedor-noticiaAlumno h2{
        font-size: 50px;
    }
    .contenedor-noticiaAlumno{
        width: 88%;
        padding: 20px;
    }
    .contenedor-noticiaAlumno .noticiaAlumno .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px;
    }
    .contenedor-noticiaAlumno .noticiaAlumno .row .col-xl-4 img{
        height: 150px;
    }
    .contenedor-noticiaAlumno .noticiaAlumno .row .col-xl-6{
        padding: 0px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .contenedor-noticiaAlumno .noticiaAlumno .row .col-xl-6 h2{
        margin-top: 10px;
        font-size: 25px;
    }
    .contenedor-noticiaAlumno .noticiaAlumno .row .col-xl-6 p{
        font-size: 15px;
    }
    .contenedor-noticiaAlumno .noticiaAlumno .row .col-xl-2 button{
        width: 100px;
        height: 40px;
    }
    .contenedor-noticiaAlumno .noticiaAlumno{
        height: auto;
    }
}
@media (min-width: 415px) and (max-width: 575px) {
    .contenedor-noticiaAlumno h2{
        font-size: 50px;
    }
    .contenedor-noticiaAlumno{
        width: 88%;
        padding: 20px;
    }
    .contenedor-noticiaAlumno .noticiaAlumno .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px;
    }
    .contenedor-noticiaAlumno .noticiaAlumno .row .col-xl-4 img{
        height: 150px;
    }
    .contenedor-noticiaAlumno .noticiaAlumno .row .col-xl-6{
        padding: 0px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .contenedor-noticiaAlumno .noticiaAlumno .row .col-xl-6 h2{
        margin-top: 10px;
        font-size: 25px;
    }
    .contenedor-noticiaAlumno .noticiaAlumno .row .col-xl-6 p{
        font-size: 15px;
    }
    .contenedor-noticiaAlumno .noticiaAlumno .row .col-xl-2 button{
        width: 100px;
        height: 40px;
    }
    .contenedor-noticiaAlumno .noticiaAlumno{
        height: auto;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    .contenedor-noticiaAlumno h2{
        font-size: 50px;
    }
    .contenedor-noticiaAlumno{
        width: 88%;
        padding: 20px;
    }
    .contenedor-noticiaAlumno .noticiaAlumno .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px;
    }
    .contenedor-noticiaAlumno .noticiaAlumno .row .col-xl-4 img{
        height: 150px;
    }
    .contenedor-noticiaAlumno .noticiaAlumno .row .col-xl-6{
        padding: 0px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .contenedor-noticiaAlumno .noticiaAlumno .row .col-xl-6 h2{
        margin-top: 10px;
        font-size: 25px;
    }
    .contenedor-noticiaAlumno .noticiaAlumno .row .col-xl-6 p{
        font-size: 15px;
    }
    .contenedor-noticiaAlumno .noticiaAlumno .row .col-xl-2 button{
        width: 100px;
        height: 40px;
    }
    .contenedor-noticiaAlumno .noticiaAlumno{
        height: auto;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .contenedor-noticiaAlumno h2{
        font-size: 50px;
    }
    .contenedor-noticiaAlumno{
        width: 75%;
        padding: 20px 40px;
    }
    .contenedor-noticiaAlumno .noticiaAlumno{
        padding: 20px 50px;
    }
    .contenedor-noticiaAlumno .noticiaAlumno .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px;
    }
    .contenedor-noticiaAlumno .noticiaAlumno .row .col-xl-4 img{
        height: 170px;
    }
    .contenedor-noticiaAlumno .noticiaAlumno .row .col-xl-6{
        padding: 0px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .contenedor-noticiaAlumno .noticiaAlumno .row .col-xl-6 h2{
        margin-top: 10px;
        font-size: 25px;
    }
    .contenedor-noticiaAlumno .noticiaAlumno .row .col-xl-6 p{
        font-size: 15px;
    }
    .contenedor-noticiaAlumno .noticiaAlumno .row .col-xl-2 button{
        width: 100px;
        height: 40px;
    }
    .contenedor-noticiaAlumno .noticiaAlumno{
        height: auto;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .contenedor-noticiaAlumno h2{
        font-size: 50px;
    }
    .contenedor-noticiaAlumno{
        width: 65%;
        padding: 20px 50px;
    }
    .contenedor-noticiaAlumno .noticiaAlumno{
        padding: 20px 50px;
    }
    .contenedor-noticiaAlumno .noticiaAlumno .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px;
    }
    .contenedor-noticiaAlumno .noticiaAlumno .row .col-xl-4 img{
        height: 170px;
    }
    .contenedor-noticiaAlumno .noticiaAlumno .row .col-xl-6{
        padding: 0px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .contenedor-noticiaAlumno .noticiaAlumno .row .col-xl-6 h2{
        margin-top: 10px;
        font-size: 25px;
    }
    .contenedor-noticiaAlumno .noticiaAlumno .row .col-xl-6 p{
        font-size: 15px;
    }
    .contenedor-noticiaAlumno .noticiaAlumno .row .col-xl-2 button{
        width: 100px;
        height: 40px;
    }
    .contenedor-noticiaAlumno .noticiaAlumno{
        height: auto;
    }
}