:root {
    --azul-primario: #0066cc;
    --azul-secundario: #4da6ff;
    --azul-secundario2: #3d9eff;
    --azul-secundario3: #82c0ff;
    --azul-claro: #e6f2ff;
    --blanco2: #ffffff;
    --gris-claro: #f5f5f5;
    --gris-medio: #e0e0e0;
    --gris-oscuro: #757575;

    --azul: #007bbd;
    --blanco: rgb(253, 243, 229);
    --gris: rgb(99, 95, 95);
    --azulClaro: #4aa2d1;
    --fondo: #e6f0fa;
}

#barraLateral{
    width: 250px;
    height: auto;
    background: linear-gradient(135deg, var(--azul-primario), var(--azul-secundario));
    display: flex;
    flex-direction: column;
}
.menu{
    display: flex;
    flex-direction: column;
}
.menu a{
    text-decoration: none;
}
.menu  i{
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    padding: 15px 25px;
    width: 100%;
    border-bottom: 1px solid var(--azulClaro);
}
.menu i p{
    margin: 0px 10px;
}
.menu button{
    text-decoration: none;
    width: 100%;
    padding: 0px;
}
i:hover{
    cursor: pointer;
    background: var(--azulClaro);
}