@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
/* footer -------------------- footer */

#pie{
    background: rgb(66, 66, 66);
    height: 130px;
}
#n4 h2{
    color: white;
    font-size: 45px;
}
#n5 a{
    color: white;
    font-size: 20px;
}
#n6 a{
    color: white;
    font-size: 20px;
}
#n7 a{
    color: white;
    font-size: 20px;
}
#n8 a{
    color: white;
    font-size: 20px;
}
#n9 a{
    color: white;
    font-size: 20px;
}
@media (min-width: 100px) and (max-width: 414px) {

    /* footer -------------------- footer */

    #pie{
        height: 200px;
    }
    #n4 h2{
        margin-top: 30px;
        margin-bottom: 20px;
        color: white;
        font-size: 2rem;
    }
    #n5 a{
        color: white;
        font-size: 0.8rem;
        margin-bottom: 15px;
    }
    #n6 a{
        color: white;
        font-size: 0.8rem;
        margin-bottom: 15px;
    }
    #n7 a{
        color: white;
        font-size: 0.8rem;
        margin-bottom: 15px;
    }
    #n8 a{
        color: white;
        font-size: 0.7rem;
        margin-bottom: 15px;
    }
    #n9 a{
        color: white;
        font-size: 0.8rem;
        margin-bottom: 15px;
    }
}

@media (min-width: 415px) and (max-width: 575px) {

    /* footer -------------------- footer */

    #pie{
        height: 200px;
    }
    #n4 h2{
        margin-top: 30px;
        margin-bottom: 20px;
        color: white;
        font-size: 2rem;
    }
    #n5 a{
        color: white;
        font-size: 0.9rem;
        margin-bottom: 15px;
    }
    #n6 a{
        color: white;
        font-size: 0.9rem;
        margin-bottom: 15px;
    }
    #n7 a{
        color: white;
        font-size: 0.9rem;
        margin-bottom: 15px;
    }
    #n8 a{
        color: white;
        font-size: 0.9rem;
        margin-bottom: 15px;
    }
    #n9 a{
        color: white;
        font-size: 0.9rem;
        margin-bottom: 15px;
    }
}

@media (min-width: 576px) and (max-width: 767px){

    #pie{
        height: 200px;
    }
    #n4 h2{
        color: white;
        font-size: 2rem;
    }
    #n5 a{
        color: white;
        font-size: 1rem;
        margin-bottom: 10px;
    }
    #n6 a{
        color: white;
        font-size: 1rem;
        margin-bottom: 10px;
    }
    #n7 a{
        color: white;
        font-size: 1rem;
        margin-bottom: 10px;
    }
    #n8 a{
        color: white;
        font-size: 1rem;
        margin-bottom: 10px;
    }
    #n9 a{
        color: white;
        font-size: 1rem;
        margin-bottom: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    /* footer -------------------- footer */
    #pie{
        height: 220px;
    }
    #n4 h2{
        margin-top: 20px;
        margin-bottom: 20px;
        color: white;
        font-size: 2.8rem;
    }
    #n5 a{
        color: white;
        font-size: 1.3rem;
        margin-bottom: 10px;
    }
    #n6 a{
        color: white;
        font-size: 1.3rem;
        margin-bottom: 10px;
    }
    #n7 a{
        color: white;
        font-size: 1.3rem;
        margin-bottom: 10px;
    }
    #n8 a{
        color: white;
        font-size: 1.3rem;
        margin-bottom: 10px;
    }
    #n9 a{
        color: white;
        font-size: 1.3rem;
        margin-bottom: 10px;
    }
}

@media (min-width: 992px) and (max-width: 1199px){

    #pie{
        height: 220px;
    }
    #n4 h2{
        color: white;
        font-size: 2.8rem;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #n5 a{
        color: white;
        font-size: 1.3rem;
        margin-bottom: 10px;
    }
    #n6 a{
        color: white;
        font-size: 1.3rem;
        margin-bottom: 10px;
    }
    #n7 a{
        color: white;
        font-size: 1.3rem;
        margin-bottom: 10px;
    }
    #n8 a{
        color: white;
        font-size: 1.3rem;
        margin-bottom: 10px;
    }
    #n9 a{
        color: white;
        font-size: 1.3rem;
        margin-bottom: 10px;
    }
}

@media (min-width: 1200px) and (max-width: 1399px){
    
    #pie{
        height: 130px;
    }
    #n4 h2{
        color: white;
        font-size: 2.4rem;
    }
    #n5 a{
        color: white;
        font-size: 1.1rem;
        margin-bottom: 10px;
    }
    #n6 a{
        color: white;
        font-size: 1.1rem;
        margin-bottom: 10px;
    }
    #n7 a{
        color: white;
        font-size: 1.1rem;
        margin-bottom: 10px;
    }
    #n8 a{
        color: white;
        font-size: 1.1rem;
        margin-bottom: 10px;
    }
    #n9 a{
        color: white;
        font-size: 1.1rem;
        margin-bottom: 10px;
    }

}