*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}
:root {
    --azul-primario: #0066cc;
    --azul-secundario: #4da6ff;
    --azul-secundario2: #3d9eff;
    --azul-secundario3: #82c0ff;
    --azul-claro: #e6f2ff;
    --blanco2: #ffffff;
    --gris-claro: #f5f5f5;
    --gris-medio: #e0e0e0;
    --gris-oscuro: #757575;

    --azul: #007bbd;
    --blanco: rgb(253, 243, 229);
    --gris: rgb(99, 95, 95);
    --azulClaro: #4aa2d1;
    --fondo: #e6f0fa;
}
.contenedor{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--fondo);
    margin: 0;
    padding: 0;
    width: 100%;
}

/* centro -------------------- centro*/

/* article -------------------- article */

#centro1{
    flex: 1;
    display: flex;
    padding: 0;
}
#contenido {
    display: flex;
    width: 100%;
    margin: 0;
}

/* tabla -------------------- tabla*/
#contenidoTabla{
    flex: 1;
    padding: 20px;
}

.tituloReportesAgenda{
    margin: 30px 0px 0px 30px;
}
.tituloReportesAgenda h1{
    font-size: 30px;
    color: var(--azul-primario);
    font-weight: bold;
}

#totalHorarioAgenda{
    width: 98%;
    border-collapse: collapse;
    margin: 20px 20px;
}
#totalHorarioAgenda thead{
    background-color: var(--azul-primario);
    color: var(--blanco);
}
#totalHorarioAgenda th, #totalHorarioAgenda td{
    padding: 10px;
    text-align: center !important;
    border-bottom: 1px solid var(--azul-primario) !important;
}
#totalHorarioAgenda tbody tr td{
    color: black;
}
.tituloReportesAgenda2{
    margin: 30px 0px 20px 30px;
}
.tituloReportesAgenda2 h1{
    font-size: 30px;
    color: var(--azul-primario);
    font-weight: bold;
}

#tablaAulas1{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0px;
}
#tablaAulas1 thead{
    background-color: var(--azul-primario);
    color: var(--blanco);
}
#tablaAulas1 th, #tablaAulas1 td{
    padding: 10px;
    text-align: center !important;
    border-bottom: 1px solid var(--azul-primario) !important;
}

#tablaAulas2{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0px;
}
#tablaAulas2 thead{
    background-color: var(--azul-primario);
    color: var(--blanco);
}
#tablaAulas2 th, #tablaAulas2 td{
    padding: 10px;
    text-align: center !important;
    border-bottom: 1px solid var(--azul-primario) !important;
}

.contenedor-tablaAgenda{  
    overflow-x: auto;
    margin: 0px 0px 20px 0px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); 
    width: 100%; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}