*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}
:root {
    --azul-primario: #0066cc;
    --azul-secundario: #4da6ff;
    --azul-secundario2: #3d9eff;
    --azul-secundario3: #82c0ff;
    --azul-claro: #e6f2ff;
    --blanco2: #ffffff;
    --gris-claro: #f5f5f5;
    --gris-medio: #e0e0e0;
    --gris-oscuro: #757575;

    --azul: #007bbd;
    --blanco: rgb(253, 243, 229);
    --gris: rgb(99, 95, 95);
    --azulClaro: #4aa2d1;
    --fondo: #e6f0fa;
}
.contenedor{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--fondo);
    margin: 0;
    padding: 0;
    width: 100%;
}

/* centro -------------------- centro*/

/* article -------------------- article */

#centro1{
    flex: 1;
    display: flex;
    padding: 0;
}
#contenido {
    display: flex;
    width: 100%;
    margin: 0;
}

/* tabla -------------------- tabla*/
#contenidoTabla{
    flex: 1;
    padding: 20px;
}
#tituloVerHorario{
    border-bottom: 2px solid var(--azul-primario);
    margin: 30px auto 20px auto;
    display: flex;
    align-items: center;
    padding: 0px 40px;
    width: 95%;
}
#tituloVerHorario h2{
    font-size: 50px;
    color: var(--azul-primario);
}
#ttbtn{
    display: flex;
    justify-content: flex-end;
}
#tituloVerHorario button{
    width: 80px;
    height: 45px;
    border-radius: 10px;
    background: var(--azul);
    color: white;
    border: 2px solid var(--azulClaro);
    margin-left: 15px;
}
#tituloVerHorario button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
#cont1Horario{
    background: white;
    border-radius: 15px;
    margin: 40px auto 20px auto;
    padding: 20px;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
}
#cont1Horario #tituloho{
    padding: 20px;
    width: 90%;
    height: auto;
    background:  var(--azul-primario);
    border: 5px solid var(--azulClaro);
    border-radius: 20px;
    text-align: center;
    margin-bottom: 50px;
}
#cont1Horario #tituloho h2{
    color: white;
    font-size: 40px;
}
#cont1Horario #imghorario{
    width: 90%;
    display: flex;
    justify-content: center;
}
#cont1Horario #imghorario img:hover{
    cursor: pointer;
    transform: scale(1.1);
}
#cont1Horario #descripcion{
    margin-top: 50px;
    width: 90%;
}
#imagenPequena{
    cursor: pointer; 
    width: 900px; 
    height: 500px;
}
#cont1Horario #descripcion p{
    word-break: break-word;
    white-space: normal;
}
@media (min-width: 100px) and (max-width: 414px) {

    /* PARTE2 -------------------- PARTE2 */
    #cont1Horario{
        background: white;
        width: 100%;
        padding: 20px 5px;
    }
    #tituloVerHorario{
        border-bottom: 2px solid var(--azul-primario);
        margin: 30px auto 20px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0px 40px;
        width: 95%;
    }
    #tituloVerHorario h2{
        font-size: 32px;
        margin-bottom: 20px;
    }
    #ttbtn{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    #tituloVerHorario button{
        width: 100px;
        height: 30px;
        border-radius: 10px;;
        color: white;
        border: 2px solid var(--azulClaro);
    }
    #tituloVerHorario button:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
    #tituloho h2{
        color: white;
        font-size: 25px;
    }
    #imghorario{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #imghorario img{
        margin-top: 20px;
        width: 100%;
        max-height: 180px;
    }
    #imghorario img:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
    #cont1Horario #descripcion{
        margin-top: 50px;
        width: 90%;
    }
}

@media (min-width: 415px) and (max-width: 575px) {
    /* PARTE2 -------------------- PARTE2 */
    #cont1Horario{
        background: white;
        width: 100%;
        padding: 20px 5px;
    }
    #tituloVerHorario{
        border-bottom: 2px solid var(--azul-primario);
        margin: 30px auto 20px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0px 40px;
        width: 95%;
    }
    #tituloVerHorario h2{
        font-size: 32px;
        margin-bottom: 20px;
    }
    #ttbtn{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    #tituloVerHorario button{
        width: 100px;
        height: 30px;
        border-radius: 10px;
        background: var(--azul);
        color: white;
        border: 2px solid var(--azulClaro);
    }
    #tituloVerHorario button:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
    #tituloho h2{
        color: white;
        font-size: 25px;
    }
    #imghorario{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #imghorario img{
        margin-top: 20px;
        width: 100%;
        max-height: 200px;
    }
    #imghorario img:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
    #cont1Horario #descripcion{
        margin-top: 50px;
        width: 90%;
    }
}

@media (min-width: 576px) and (max-width: 767px){
    /* PARTE2 -------------------- PARTE2 */
    #cont1Horario{
        background: rgb(216, 204, 186);
        width: 100%;
        padding: 20px 5px;
    }
    #tituloVerHorario{
        border-bottom: 2px solid var(--azul-primario);
        margin: 30px auto 20px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0px 40px;
        width: 95%;
    }
    #tituloVerHorario h2{
        font-size: 32px;
        margin-bottom: 20px;
    }
    #ttbtn{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    #tituloVerHorario button{
        width: 100px;
        height: 30px;
        border-radius: 10px;
        background: var(--azul);
        color: white;
        border: 2px solid var(--azulClaro);
    }
    #tituloVerHorario button:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
    #tituloho h2{
        color: white;
        font-size: 25px;
    }
    #imghorario{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #imghorario img{
        margin-top: 20px;
        width: 100%;
        max-height: 200px;
    }
    #imghorario img:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
    #cont1Horario #descripcion{
        margin-top: 50px;
        width: 90%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* PARTE2 -------------------- PARTE2 */
    #cont1Horario{
        width: 100%;
        padding: 20px 5px;
    }
    #tituloVerHorario{
        border-bottom: 2px solid black;
        margin: 30px auto 20px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 40px;
        width: 95%;
        text-align: center;
    }
    #tituloVerHorario h2{
        font-size: 32px;
        margin-bottom: 20px;
    }
    #ttbtn{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    #tituloVerHorario button{
        width: 100px;
        height: 30px;
        border-radius: 10px;
        background: var(--azul);
        color: white;
        border: 2px solid var(--azulClaro);
    }
    #tituloVerHorario button:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
    #tituloho h2{
        color: white;
        font-size: 25px;
    }
    #imghorario{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #imghorario img{
        margin-top: 20px;
        width: 100%;
        height: auto;
    }
    #imghorario img:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
    #cont1Horario #descripcion{
        margin-top: 50px;
        width: 90%;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    /* PARTE2 -------------------- PARTE2 */
    #cont1Horario{
        width: 100%;
        padding: 20px 5px;
    }
    #tituloVerHorario{
        border-bottom: 2px solid var(--azul-primario);
        margin: 30px auto 20px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 40px;
        width: 95%;
        text-align: center;
    }
    #tituloVerHorario h2{
        font-size: 45px;
        margin-bottom: 20px;
    }
    #ttbtn{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    #tituloVerHorario button{
        width: 110px;
        height: 40px;
        border-radius: 10px;
        background: var(--azul);
        color: white;
        border: 2px solid var(--azulClaro);
    }
    #tituloVerHorario button:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
    #tituloho h2{
        color: white;
        font-size: 45px;
    }
    #imghorario{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #imghorario img{
        margin-top: 20px;
        width: 100%;
        height: auto;
    }
    #imghorario img:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
    #cont1Horario #descripcion{
        margin-top: 50px;
        width: 90%;
    }
}